In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

df=pd.read_csv("Mobile phone price.csv")
df

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799
...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,4300,1049
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349
404,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,3687,1099
405,Oppo,Reno3,128,8,6.4,48+13+8+2,4025,429
406,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,4500,649

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
dtypes: int64(1), object(7)
memory usage: 25.6+ KB

In [3]:
df['Price ($)'] = df['Price ($)'].str.replace(' ', '', regex=False)
df['Price ($)'] = df['Price ($)'].str.replace(',', '', regex=False)
df['Price ($)'] = df['Price ($)'].str.replace('$', '', regex=False)
df['Price ($)']= pd.to_numeric(df['Price ($)'], errors='coerce')

In [8]:
model= LogisticRegression(max_iter=10000)
X=df[['Price ($)']]
y=df[['Brand']]
model.fit(X,y.values.ravel())

test_input = pd.DataFrame([[16000]], columns=['Price ($)'])
test=model.predict(test_input)
test

array(['Sony'], dtype=object)

In [21]:
import numpy as np
#np.random.seed(19)
sc=np.random.randint(25,100000,11)
sc=np.sort(sc, kind="mergesort")

sc_pred = pd.DataFrame({"Price ($)":sc})

results = model.predict(sc_pred[['Price ($)']])
sc_pred["Predicted Brand"]=results
sc_pred

    Price ($) Predicted Brand
0        1540           Apple
1        2658            Sony
2        3493            Sony
3        7528            Sony
4       21446            Sony
5       29750            Sony
6       30562            Sony
7       80575            Sony
8       83220            Sony
9       86467            Sony
10      96892            Sony